# Auto detect text files and perform LF normalization
* text=auto
*.vcd filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.vbsp filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.rad filter=lfs diff=lfs merge=lfs -text
*.bsp filter=lfs diff=lfs merge=lfs -text
*.vmt filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.vcs filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.mak filter=lfs diff=lfs merge=lfs -text
*.vpc filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.tlog filter=lfs diff=lfs merge=lfs -text
*.lastbuildstate filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.vpc_crc filter=lfs diff=lfs merge=lfs -text
*.sentinel filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.psh filter=lfs diff=lfs merge=lfs -text
*.fxc filter=lfs diff=lfs merge=lfs -text
*.vsh filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.H filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.inl filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.valve filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
*.vim filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
*.cbproj filter=lfs diff=lfs merge=lfs -text
*.groupproj filter=lfs diff=lfs merge=lfs -text
*.pump filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.common filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.nul filter=lfs diff=lfs merge=lfs -text
*.la filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.dsp filter=lfs diff=lfs merge=lfs -text
*.dsw filter=lfs diff=lfs merge=lfs -text
*.gcc filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.rc2 filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.ocx filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.idl filter=lfs diff=lfs merge=lfs -text
*.aps filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.rgs filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.vce filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.resx filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.bas filter=lfs diff=lfs merge=lfs -text
*.frm filter=lfs diff=lfs merge=lfs -text
*.frx filter=lfs diff=lfs merge=lfs -text
*.vbp filter=lfs diff=lfs merge=lfs -text
*.vbg filter=lfs diff=lfs merge=lfs -text
*.ctl filter=lfs diff=lfs merge=lfs -text
*.RES filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.vgc filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
sp text !filter !merge !diff
